.page {
  box-sizing: border-box;
  font-size: 62.5%; }

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

.page-body {
  padding: 3.6rem;
  color: #777;
  font-family: Lato, sans-serif;
  font-weight: 400;
  line-height: 1.7; }

.visually-hidden:not(:focus, :active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  white-space: nowrap; }

.main-header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero/hero.jpg");
  background-position: top;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }

.main-header__logo-wrapper {
  position: absolute;
  top: 4rem;
  left: 4rem; }

.main-header__logo {
  height: 3.5rem; }

.main-header__content-wrapper {
  position: absolute;
  top: 40%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%); }

.main-header__slogan {
  margin-bottom: 6rem; }

.slogan {
  backface-visibility: hidden;
  color: #fff;
  text-transform: uppercase; }

.slogan_main {
  display: block;
  animation: moveInLeft 1s ease-out;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  text-indent: 3.5rem; }

.slogan_sub {
  display: block;
  animation: moveInRight 1s ease-out;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;
  text-indent: 1.75rem; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  80% {
    transform: translateY(-0.3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.btn {
  position: relative;
  display: inline-block;
  padding: 1.5rem 4rem;
  border-radius: 100rem;
  font-size: 1.6rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s; }

/*
 * :link - unvisited link;
 * :visited - visited link;
 * :focus - link is focused;
 * :hover - mouse over link;
 * :active - mouse click on link
*/
/* .btn:link,
   .btn:visited {} */
.btn:focus {
  outline: none; }

.btn:focus,
.btn:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-0.3rem); }

.btn:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(-0.1rem); }

.btn_white {
  background-color: #fff;
  color: #777; }

.btn::after {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 100rem;
  content: "";
  transition: all 0.4s; }

.btn_white::after {
  background-color: #fff; }

.btn:focus::after,
.btn:hover::after {
  opacity: 0;
  transform: scaleX(1.4) scaleY(1.6); }

.btn_animated {
  animation: moveInBottom 0.7s ease-out 0.5s;
  animation-fill-mode: backwards; }
