/* stylelint-disable scss/dollar-variable-empty-line-before */

// COLORS
$color-primary-dark: #28b485;
$color-primary: #55c57a;
$color-primary-light: #7ed56f;

$color-black: #000;
$color-grey-dark: #777;
$color-white: #fff;
