// # Typography settings

.page-body {
  color: $color-grey-dark;
  font-family: Lato, sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

.heading-1st-level {
  @include visually-hidden;
}

.heading-2nd-level {
  display: inline-block;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  color: transparent;
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-indent: 0.2rem; // fix wrong text center alignment with letter-spacing
  text-transform: uppercase;
  transition: all 0.2s;

  &:hover {
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
    transform: skewY(2deg) skewX(15deg) scale(1.1);
  }
}

.heading-3rd-level {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
